
<!--Responsive-->
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-sm-6 {
    width: 45%;
}

.padding-left{
	padding-left:60px;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}

body {
  font-family: "Roboto", Arial, serif;
  line-height: 1.8;
  font-size: 20px;
  font-weight: 300;
  color: #333333;
background-color: #fff;
margin: 0;
}

img {
  vertical-align: middle;
  border:0;
}

.text-center {
    text-align: center;
}

a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #F03861;
}
a:focus, a:active {
  outline: none;
}

p, span {
  margin-bottom: 1.5em;
  font-size: 20px;
  color: #727272;
  font-weight: 300;
  font-family: "Roboto", Arial, serif;
}

p{
	margin: 0 0 10px;
}

span {
  font-size: 18px;
  color: rgba(114, 114, 114, 0.8);
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto", Arial, serif;
  font-weight: 300;
  margin: 0 0 30px 0;
  line-height: 1.1;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row::before, .row::after {
    content: " ";
    display: table;
}
.container {
    width: 750px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container::before, .container::after {
    content: " ";
    display: table;
}

.container::after {
    clear: both;
}

::-webkit-selection {
  color: #000;
  background: #FFF;
}

::-moz-selection {
  color: #000;
  background: #FFF;
}

::selection {
  color: #000;
  background: #FFF;
}

header, #fh5co-intro-section, #fh5co-services-section, #fh5co-featured-work-section,
#fh5co-common-section, #fh5co-blog-section, #footer, #fh5co-contact-section,
#fh5co-work-section {
  padding-bottom: 1em;
}

header {
  padding-top: 3em;
  box-shadow: 8px 8px 12px #aaa; 
  margin-bottom:50px;
}
header .fh5co-navbar-brand {
  padding-bottom: 3em;
}
header .fh5co-navbar-brand .fh5co-logo {
  position: relative;
  font-size: 50px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
header .fh5co-navbar-brand .fh5co-logo:after {
  position: absolute;
  bottom: 13px;
  right: -14px;
  width: 12px;
  height: 12px;
  background: #F03861;
  content: '';
}
header .fh5co-navbar-brand .fh5co-logo:hover {
  text-decoration: none;
}
header #fh5co-main-nav > ul {
  padding: 0;
  margin: 0;
}
header #fh5co-main-nav > ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  header #fh5co-main-nav > ul li {
    display: block;
    margin-left: 0;
    margin-bottom: 15px;
  }
}
ul li a {
  padding-bottom: 5px;
  color: #000;
  position: relative;
  font-weight: 400;
}

header #fh5co-main-nav > ul li a:hover, header #fh5co-main-nav > ul li a:focus {
  text-decoration: none;
  color: #000;
}
header #fh5co-main-nav > ul li:first-child {
  margin-left: 0;
}

div.topBotomBordersOut a.inactive:before, div.topBotomBordersOut a.inactive:after
{
    position: absolute;
    left: 0px;
    width: 100%;
	
    height: 2px;
    background: #000;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a.active:before, div.topBotomBordersOut a.active:after
{
    position: absolute;
    left: 0px;
	top:10px;
    width: 100%;
    height: 2px;
    background: #000;
    content: "";
}

div.topBotomBordersOut a:before
{
    top: -5px;
    transform: translateY(15px);
}

div.topBotomBordersOut a:after
{
    bottom: -1px;
    transform: translateY(-15px);
}

div.topBotomBordersOut a.inactive:hover:before, div.topBotomBordersOut a.inactive:hover:after
{
    opacity: 1;
    transform: translateY(0px);

}

.photo, .photo::before, .photo::after,
img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.photo {
  margin: 0 1px 1px 0;
  float: left;
  position: relative;
  overflow: hidden;
  height:200px;
  width:200px;
}

.photo img{
	position: absolute;
  height: 100%;
  width:100%;
  
}

.photo img:hover  {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.photoMain{
	margin: 0 1px 1px 0;
  float: left;
  position: relative;
  overflow: hidden;
  height:300px;
  width:100%;
  background:#000;
}

.photoMain, .photoMain::before, .photoMain::after,
img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.photoMain img{
	position: absolute;
  height: 100%;
  width:100%;
  
}

.photoMain img:hover  {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.description{
	background:#000;
	color:#FFF;
	float: left;
	position:relative;
	margin-top:50px;
	width:100%;
	height:250px;
	text-align: center;
}

footer{
	background:#000;
	clear: both;
}

.margin-bottom{
	margin-bottom:80px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
    background:#FFF;
}

.fa-facebook {
  background: #000;
  color: white;
}

.fa-instagram {
  background: #000;
  color: white;
}

.fa-vimeo {
  background: #000;
  color: white;
}

.connexionButton{
	float:right;
}

div.connexionButton ul{
	list-style-type: none;
	padding-right:50px;
}

.logo{
	padding-left:200px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5px auto; 
    border: 1px solid #888;
    width: 80%; 
    height:80%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
} 

.box{
  background:white;
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 0px;
  border: #000 4px solid; 
}

.email{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}

#btn{
  background:#000;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  
  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
  
}

#btn:hover{
  background:#666666; 
  border-radius: 30px;
}

#btn2{
  float:left;
  background:#000;
  width:125px;  padding-top:5px;
  padding-bottom:5px;
  color:white;
  
  margin-top:20px;
  margin-bottom:20px;
  margin-left:10px;
  font-weight:800;
  font-size:0.8em;
}

#btn2:hover{ 
background:#666666; 
border-radius: 30px;
}

.login{
  text-align:center;
  margin: 20px 0px 20px 0px;
}

.btn:visited{
	text-decoration:none;
}

.photographe{
	width:250px;
	height:300px;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}

.message{
	background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:75%;
  height:200px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
  margin-bottom:50px;
}

/* bouton reserver */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.slideshow-container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.buttonReserver {
  position: absolute;
  width: 500px;
  left:250px;
  top: 700px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.buttonReserver a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.slideshow-container:hover .buttonReserver {
  opacity: 1;
}

.btn2{
    float:left;
    background:#000;
    width:125px;  padding-top:5px;
    padding-bottom:5px;
    color:white;

    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
}

.btn2:hover{
    background:#666666;
    border-radius: 30px;
}

.contain{
    position: relative;
    display: none;

}

form{
	border-style:solid;
	border-width:1px;
}

